

<div class="content-block-title">欢迎来到 Focus</div>
<div class="content-block">
    <div class="content-block-inner">
        <p>Focus能够帮助用户实现不同场合的手机模式智能切换!</p>
        <p>
            我们将借助云端的数据存储，
            根据用户的简单设置自动分析出提醒方案，
            并对所有方案进行存储，
            通过大数据分析提取出模板库，
            统计用户的学习和工作方式，
            同时对用户的的生活给出优化建议。
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">10秒快速注册免费成为会员</div>
    <div class="card-content">
        <div class="card-content-inner">进入app后依次点击<span style="color: orangered">我的</span>-<span style="color: orangered">注册</span>
        输入用户名和密码即可完成注册,成为会员后可<span style="color:orangered">免费使用</span>app所有功能(非会员只能使用智能切换模式功能,<span style="color: orangered">注册成功后需要重新启动app</span>)！</div>
    </div>
</div>
