
@model Web.Areas.XiaoTuan.ViewModels.OrganizationConcerns_M
<!DOCTYPE html>
<html>
<head>
    <title>我的关注</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">

    <link href="~/Areas/XiaoTuan/Contents/css/weui.min.css" rel="stylesheet" />
    <link href="~/Areas/XiaoTuan/Contents/css/jquery-weui.css" rel="stylesheet" />
    <link href="~/Areas/XiaoTuan/Contents/css/demos.css" rel="stylesheet" />
    <link href="~/Areas/XiaoTuan/Contents/css/index.css" rel="stylesheet" />
</head>

<body ontouchstart>

    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div id="tab2" class="weui-tab__bd-item weui-tab__bd-item--active">

                <div class="page__bd">
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd" id="ActSearch">
                           @if (Model.organizationConcernsNum == 0)
                            {
                                <div class="weui-msg">
                                    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg-primary"></i></div>
                                    <div class="weui-msg__text-area">
                                        <h2 class="weui-msg__title">列表为空</h2>
                                        <p class="weui-msg__desc">暂时还没有关注任何组织，快去活动列表看看吧！</p>
                                    </div>
                                </div>
                           }
                           else
                           {
                                foreach (var item in Model.organizationConcerns)
                                {
                                    <a href="/XiaoTuan/Home/OrganizationDetial?org_id=@item.org_id" class="weui-media-box weui-media-box_appmsg">
                                        <div class="weui-media-box__hd">
                                            <img class="weui-media-box__thumb" src="@item.organization.org_logo" alt="" width="100%" height="100%" />
                                        </div>
                                        <div class="weui-media-box__bd">

                                            <h4 class="weui-media-box__title">@item.organization.org_name</h4>
                                            <p class="weui-media-box__desc">@item.organization.org_introduce</p>
                                        </div>
                                    </a>
                                }
                           }

                        </div>


                    </div>
                    <div class="clear">

                    </div>
                </div>

            </div>

        </div>
    </div>


    @*<div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>*@

    <script src="~/Areas/XiaoTuan/Contents/js/jquery-2.1.4.js"></script>
    <script src="~/Areas/XiaoTuan/Contents/js/fastclick.js"></script>
    <script src="~/Areas/XiaoTuan/Contents/js/jquery-weui.js"></script>
    <script src="~/Areas/XiaoTuan/Contents/js/self-adaption.js"></script>
    <script>
          $(function() {
            FastClick.attach(document.body);
          });
    </script>

</body>

</html>
